@import '../../styles/colors.scss';

.footer{
    display: flex;
    align-content: center;
    justify-content: center;
    background: $purple;
    height: 150px;

    //crap hack????
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box; 
    border-left: 20px solid $black;
    border-right: 20px solid $black;
    border-bottom: 20px solid $black;
}

