input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background-color: transparent;
  color: white;
  width: 250px;
}

::placeholder {
	color: white;
	font-size: 11px;
	font-family: 'NexaLight';
	letter-spacing: 5px;
}

input[type="text"] {
    font-size: 15px;
    font-family: 'NexaLight';
}

input:focus {
  border-color: grey;
}

.custom-nav {
	position: absolute;
	top: 2%;
	z-index: 22;
	color: white;
	width: 100%;
	font-family: 'NexaLight';
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: 800;
}

.navigation-link {
	text-decoration: none;
	color: white;
}

.navigation-link:hover {
	text-decoration: none;
	color: grey;
}

.nav-headers {
	font-size: 13px;
	display: flex;
	justify-content: center;
}

.nav-recipes {
	padding-right: 10px;
}

.nav-about {
	padding-left: 10px;
	padding-right: 10px;
}

.nav-contact {
	padding-left: 10px;
}

.nav-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
}
.logo-header{
	height: 130px;
	margin-bottom: 50px;
}

.nav-social {
	display: flex;
	justify-content: center;
}

.social-icon {
	width: 30px;
	height: 30px;
	margin: 5px;
}