@import '../../styles/colors/colors.scss';

.water{
    width: 100vw;
    height: 100vh;
    background: $constructionBackground;

    .turtle{
        height: 200px;
        margin-bottom: 70px;
    }

    .title{
        font-size:2rem;
    }
}