@import '../../styles/colors/colors.scss';


.about-container {
  padding: 100px 50px;
  background-color: $offWhite;

  .about-image{
    width: 100%;
  }
  .about-text{
    background-color: #ECD6C6;

    .title{
      font-size: 2.5rem;
    }

    .text-align-left{
      text-align: left;
    }
  }

  

  /* @media screen and (min-width: 500px) {
    .title {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 800px) {
    .title {
      font-size: 3.5rem;
    }
  }
  @media screen and (min-width: 1024px){
    .pop-header{
      height: 100px;
    }
  }
  @media screen and (min-width: 1200px) {
    .title {
      font-size: 4.5rem;
    }
  }
  @media screen and (min-width: 1400px) {
    .title {
      font-size: 5.25rem;
    }
  } */

}

.mobile{
  .mobile-header-img{
    width: 100%;
  }
  .title-mobile{
    font-size: 1.5rem;
  }

  .recipe-body-mobile{
    padding: 0px 20px;
  }
  .recipe-info-mobile{
    padding: 0px 10px;
  }
  
}

