/* .gradient-overlay {
	position: absolute;
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0,0,0,.75) 0%,rgba(255, 255, 255, 0) 50%);
	z-index: 2; 
} */

.carousel-item { 
    height: 100vh !important;
}

.carousel-item > img { 
  width: 100%;
  min-width: 1200px;
}

.carousel-caption {
	text-align: left !important;
	bottom: 100px !important;
	left: 100px !important;
}

.carousel-control-prev {
	width: 5% !important;
}

.carousel-control-next {
	width: 5% !important;
}

.scroll-jack {
	position: absolute;
	bottom: 2%;
	left: 50%;
	z-index: 22;
	color: white;
}

.scroll-down {
	-webkit-transform: rotate(270deg) !important;
}

.slideshow-recipe-title {
  display: inline;
  font-size: 70px;
}

.slideshow-title-bold {
  font-family: 'NexaBold';
}

.slideshow-title-slim {
  font-family: 'NexaLight';
}

.slideshow-description {
	margin-top: -20px;
	font-size: 20px;
	font-family: 'BellMT';
}
