.carousel-item { 
    height: 100vh !important;
}

.carousel-item > img { 
  width: 100%;
}

.carousel-caption {
	text-align: left !important;
	bottom: 20% !important;
	font-family: 'NexaBold';
	font-size: 50px;
}

.carousel-control-prev {
	width: 5% !important;
}

.carousel-control-next {
	width: 5% !important;
}

.scroll-jack {
	position: absolute;
	bottom: 2%;
	left: 50%;
	z-index: 22;
	color: white;
}

.scroll-down {
	-webkit-transform: rotate(270deg) !important;
}
