@font-face {
    font-family: "NexaLight";
    src: url("./styles/fonts/NexaLight.otf")
}
@font-face {
    font-family: "PlayFair";
    src: url("./styles/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: "PlayFair-BoldItalic";
    src: url("./styles/fonts/PlayfairDisplay-BoldItalic.ttf");
}
@font-face {
    font-family: "OpenSansCondensed";
    src: url("./styles/fonts/OpenSansCondensed-Bold.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("./styles/fonts/OpenSans-Regular.ttf");
}

$NexaLight: "NexaLight";
$OpenSans: "OpenSans";
$OpenSansCondensed: "OpenSansCondensed";
$PlayFair: "Playfair";
$PlayFairBoldItalic: "Playfair-BoldItalic";
