@font-face {
  font-family: "NexaBold";
  src: url("./styles/fonts/NexaBold.otf")
}
@font-face {
  font-family: "NexaLight";
  src: url("./styles/fonts/NexaLight.otf")
}
@font-face {
  font-family: "BellMT";
  src: url("./styles/fonts/BELL.TTF")
}

$NexaBold: "NexaBold";
$NexaLight: "NexaLight";
$BellMT: "BellMT";

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
