@import 'styles/fonts/fonts.scss';
@import 'styles/colors.scss';

@media only screen and (min-width: 650px) {

  body {
    background: $white;
    margin: 0;
    height: 100%;
    font-family: $Noe;
    box-sizing: border-box;
    border: 20px solid $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

  .canvas{
    font-family: $MadeCanvas;
    font-weight: 600;
  }
  .canvasBlack{
    font-family: $MadeCanvasBlack;
  }
  .nexaBold{
    font-family: $NexaBold;
  }
  .nexaLight{
    font-family: $NexaLight;
  }

  h1{
    font-family: $NexaBold;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  a{
    font-family: $NexaLight;
    font-size: .8rem;
    font-weight: 800;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
  }
  .active{
    background: linear-gradient(to top,$purple,$purple 100%,transparent 100%,transparent);
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: 100% 40%;
  }

@media only screen and (max-width: 650px) {
  body{
    box-sizing: border-box;
    border-left: 5px solid $purple;
    font-family: $Noe;
    margin: 0;
    height: 100%;
    min-height: 100vh;
  }
}