.recipe-header {
  background: #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  height: 75vmin;
  width: 100%;
  z-index: -1;
}

.recipe-post {
  font-family: 'BellMT';
  font-size: 16px;
  position: relative;
  top: -100px;
  padding: 0 50px;
 	background-color: #fdfdfd;
}
.recipe-post ol {
  margin: 0px;
  padding: 0 15px;
}
.recipe-post ul {
  margin: 0px;
  padding: 0 15px;
}

.recipe-title{
  display: inline;
  font-size: 80px;
}
.title-bold{
  font-family: 'NexaBold';
}
.title-slim{
  font-family: 'NexaLight';
}
