.Recipe-header {
  background: #000;
  background: url('../../images/almond_milk_recipe.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  height: 75vmin;
  width: 100%;
  z-index: -1;
}

.recipe-post {
  position: relative;
  top: -100px;
  padding-left: 50px;
  padding-right: 50px;
 	background-color: #fdfdfd;
  width: 900px;
  margin: auto;
}

.recipe-title{
  display: inline;
  font-size: 80px;
}
.title-bold{
  font-family: 'NexaBold';
}
.title-slim{
  font-family: 'NexaLight';
}
.recipe-body{
  font-family: 'BellMT';
  font-size: 16px;
}
