@import '../../styles/colors/colors.scss';

.no-padding{
  padding: 0px !important;
}
.recipe-header {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  z-index: -1;
}
ul, ol {
  list-style: none;

  li{
    border-bottom: 1px dotted $darkGrey;
    padding: 10px 0;

    p{
      margin: 0;
    }
  }
}

.recipe-post {
  position: relative;
  top: -100px;
  padding: 0 50px;
  background-color: $white;
  padding-bottom: 50px;

  @media screen and (min-width: 500px) {
    .title {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 800px) {
    .title {
      font-size: 3.5rem;
    }
  }
  @media screen and (min-width: 1024px){
    .pop-header{
      padding-top: 10px;
      height: 100px;
    }
  }
  @media screen and (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }
  @media screen and (min-width: 1400px) {
    .title {
      font-size: 4.9rem;
    }
  }

  .recipe-body{
    padding: 30px;
  }

  .recipe-info{
    background: $white;
    margin: 0;
    padding: 20px 10px;
    border: 1px solid $darkGrey;
  }
}

.mobile{
  .mobile-header-img{
    width: 100%;
  }
  .title-mobile{
    font-size: 1.5rem;
  }

  .recipe-body-mobile{
    padding: 0px 20px;
  }
  .recipe-info-mobile{
    padding: 0px 10px;
  }
  
}

