.cards {
	margin: 20px;
}

.card-deck {
	justify-content: center;
}

.card {
	border: none !important;
}

.row-container {
	display: flex;
	padding: 100px;
}

.col-3 {
	flex: 1 !important;
	padding: 0px !important;
}
