@import '../../styles/colors.scss';

.home{
    padding: 0 70px;

    .latest{
        display: flex;
        justify-content: center;
    }

    .bar{
        width: 100px;
        margin-bottom: 1rem;
        border-bottom: 2px solid $purple;
    }

    .recipe-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;

        .item {
            flex-grow: 1;
            flex-basis: 45%;
            max-width: 750px;
            padding: 0 25px;
        }
    }
}

@media only screen and (max-width: 650px) {
    .mobile-home{
        padding: 0 20px;

        .title{
            display: flex;
            font-size: 2rem;
            letter-spacing: 3px;
            margin: 10px 0 20px 0;
            text-transform: none;
        }
    }
}