@import '../../styles/colors/colors.scss';

.hamburger{
  position: relative !important;
  margin-top: -50px;
}

.hamburger-nav {
  height: 50px;
  width: calc(100vw + 15px);
  background-color: $navGrey;
  position: fixed;
  top: 0;
  z-index: 200;
}

.hamburger-nav-link {
  text-decoration: none;
  color: white;
}

.hamburger-nav-link:hover {
  text-decoration: none;
  color: $hoverGrey;
}

.search-icon {
  width: 20px;
  float: right;
}
