@import '../../styles/colors/colors.scss';

.hamburger{
  position: relative !important;
  margin-top: -70px;
}

.hamburger-nav {
  height: 70px;
  background-color: $navGrey;
}

.hamburger-nav-link {
  text-decoration: none;
  color: white;
}

.hamburger-nav-link:hover {
  text-decoration: none;
  color: grey;
}

.search-icon {
  width: 50px;
  height: 50px;
  float: right;
  padding: 10px;
}
