@import '../../styles/colors.scss';


.recipe-categories{
    min-height: calc(100vh - 260px);

    .categories-intro{
        display: flex;
        font-size: 2rem;
        letter-spacing: 3px;
        justify-content: center;
        margin: 10px 0;
        text-transform: none;
    }

    .latest{
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        letter-spacing: 10px;
        padding: 0 50px;
        text-transform: uppercase;
    }
    .bar{
        width: 100px;
        margin-bottom: 1rem;
        border-bottom: 2px solid $purple;
    }
    .categories{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        margin: 40px auto;

        .card{
            min-width: 40%;
            max-width: 100%;
            padding:10px;

            .wrapper{
                margin: auto;
                position: relative;

                p{
                    color: $white;
                    bottom: 0;
                    margin: 20px;
                    position: absolute;
                    z-index: 10;
                }

                img{
                    width: 100%;
                    height: 100%;
                }
                
                &:after {
                    content:'';
                    width:100%;
                    height:100%;    
                    position:absolute;
                    left:0;
                    top:0;
                    
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, $black 100%);
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .recipe-categories-mobile{
        padding: 0 20px;
        font-size: .8rem;

        .title{
            display: flex;
            font-size: 2rem;
            letter-spacing: 3px;
            justify-content: center;
            margin: 10px 0;
            text-transform: none;
        }
        .categories{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;

            .card{
                padding: 10px 0;
                width: 100%;

                .wrapper{
                    margin: auto;
                    position: relative;

                    p{
                        color: $white;
                        bottom: 0;
                        margin: 20px;
                        position: absolute;
                        z-index: 1;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                    }
                    
                    &:after {
                        content:'';
                        width:100%;
                        height:100%;    
                        position:absolute;
                        left:0;
                        top:0;
                        
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, $black 100%);
                    }
                }
            }
        }
    }
}